{% extends 'dashboard/base.html' %} {% load static %} {% block content %}
<style>
  body {
    background: whitesmoke;
  }
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 60vw;
    margin-left:19%;
    margin-bottom: 50px;
  }
  .card {
    width: 300px;
    height: 400px;
    box-shadow: 2px 2px 0 black;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  h5 {
    font-weight: 700;
  }
  .card1 {
    background: khaki;
  }
  .card2 {
    background: lightblue;
  }
  .card3 {
    background: cornflowerblue;
  }
  .card4 {
    background: lightseagreen;
  }
  .card5 {
    background: peachpuff;
  }
  .card6 {
    background: lightcoral;
  }
  .card7 {
    background: plum;
  }
  .card8 {
    background: aquamarine;
  }
  {% comment %} @media screen and (max-width: 1000px) {
    .container {
      width: 500px;
      margin-left: 35%;
    }
  } {% endcomment %}
</style>
<section class="container text-center">
  <h3>Welcome</h3>

  <hr />
  <br />
  <div class="row">
    <a href="{% url 'notes' %}">
      <div class="card card1">
        <img
          class="card-img-top"
          src="{% static 'images/notes.jpg' %}"
          alt="Notes image"
        />
        <div class="card-body">
          <h5 class="card-title">Notes</h5>
          Create Notes to refer them later. They are stored permanently until
          deleted
        </div>
      </div>
    </a>

    <a href="{% url 'homework' %}">
      <div class="card card2">
        <img
          class="card-img-top"
          src="{% static 'images/homework.jpg' %}"
          alt="Notes image"
        />
        <div class="card-body">
          <h5 class="card-title">Homework</h5>
          Add homeworks and assign them deadlines. They will be displayed
          prioritised by deadlines
        </div>
      </div>
    </a>
    <a href="{% url 'youtube' %}">
      <div class="card card3">
        <img
          class="card-img-top"
          src="{% static 'images/youtube.jpg' %}"
          alt="Notes image"
        />
        <div class="card-body">
          <h5 class="card-title">Youtube</h5>
          Search Youtube and select your desired video to play it on youtube
        </div>
      </div>
    </a>
    <a href="{% url 'todo' %}">
      <div class="card card4">
        <img
          class="card-img-top"
          src="{% static 'images/todo.jpg' %}"
          alt="Notes image"
        />
        <div class="card-body">
          <h5 class="card-title">To Do</h5>
          Add your to-do lists for your day and remove them as you finish
        </div>
      </div>
    </a>

    <a href="{% url 'books' %}">
      <div class="card mt-20 card5">
        <img
          class="card-img-top"
          src="{% static 'images/books.jpg' %}"
          alt="Notes image"
        />
        <div class="card-body">
          <h5 class="card-title">Books</h5>
          Browse books from a list of neatly organised book menu
        </div>
      </div>
    </a>

    <a href="{% url 'dictionary' %}">
      <div class="card card6">
        <img
          class="card-img-top"
          src="{% static 'images/dictionary.jpg' %}"
          alt="Notes image"
        />
        <div class="card-body">
          <h5 class="card-title">Dictionary</h5>
          A vocabulary from a book is troubling you? No problem, enter the word,
          and the meaning will be displayed almost instantaneously.
        </div>
      </div>
    </a>
    <a href="{% url 'wiki' %}">
      <div class="card card7">
        <img
          class="card-img-top"
          src="{% static 'images/wiki.jpg' %}"
          alt="Notes image"
        />
        <div class="card-body">
          <h5 class="card-title">WikiPedia</h5>
          Homework and Assignments? Search wikipedia to get fast results
        </div>
      </div>
    </a>

    <a href="{% url 'conversion' %}">
      <div class="card card8">
        <img
          class="card-img-top"
          src="{% static 'images/calculator.jpg' %}"
          alt="Notes image"
        />
        <div class="card-body">
          <h5 class="card-title">Calculator</h5>
          Check out the conversion table, that helps you to convert measurements
          to more familiar ones of your choice.
        </div>
      </div>
    </a>
  </div>
</section>
{% endblock content %}
